<div class="fretIndexWrap">
  <div class="fretIndex">1</div>
  <div class="fretIndex">2</div>
  <div class="fretIndex">3</div>
  <div class="fretIndex">4</div>
  <div class="fretIndex">5</div>
  <div class="fretIndex">6</div>
  <div class="fretIndex">7</div>
  <div class="fretIndex">8</div>
  <div class="fretIndex">9</div>
  <div class="fretIndex">10</div>
  <div class="fretIndex">11</div>
  <div class="fretIndex">12</div>
  <div class="fretIndex">13</div>
  <div class="fretIndex">14</div>
  <div class="fretIndex">15</div>
  <div class="clear"></div>
</div>
<div class="chord_diagramWrap">
  <div class="mutebuttonWrap">
    <div class="muteButton"></div>
    <div class="muteButton"></div>
    <div class="muteButton"></div>
    <div class="muteButton"></div>
    <div class="muteButton"></div>
    <div class="muteButton"></div>
  </div>    
  <div class="noteArea">
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
  </div>
  <div class="chord_diagram">
    <div class="nut"></div>
    <div class="inlay inlay-3"></div>
    <div class="inlay inlay-5"></div>
    <div class="inlay inlay-7"></div>
    <div class="inlay inlay-9"></div>
    <div class="inlay inlay-12-1"></div>
    <div class="inlay inlay-12-2"></div>
    <div class="inlay inlay-15"></div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>
    <div class="fret-bar">&nbsp;</div>  

    <div class="string string1">
      <div class="fretWrapOpen">                        
        <div class="fret"></div>
      </div>
      <div class="fretWrap">            
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">            
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>          
    </div>
    <div class="string string2">
      <div class="fretWrapOpen">                        
        <div class="fret"></div>
      </div>
      <div class="fretWrap">            
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>                    
    </div>
    <div class="string string3">
      <div class="fretWrapOpen">                        
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>                    
    </div>
    <div class="string string4">
      <div class="fretWrapOpen">                        
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>                    
    </div>
    <div class="string string5">
      <div class="fretWrapOpen">                        
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>                    
    </div>
    <div class="string string6">
      <div class="fretWrapOpen">                        
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>
      </div>
      <div class="fretWrap">
        <div class="finger"></div>
        <div class="fret"></div>        
      </div>          
    </div>        
  </div>      
</div>