<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/list">吉他好朋友</a>                
            <a class="btn btn-primary" href="javascript:window.history.back()">上一頁</a>
        </div>
    </div>
</div>