

#edit{
	background: #fff;	
	margin: 80px auto;	
}



#editForm{
	margin: 30px 0px;
}

#editForm .add-on{
	padding: 4px 20px;
}

#lyric , #sourceCode , #preview{	
	width: 98%;
	min-height: 400px;
}


#sourceCodeDialog{
	display: none;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

#sourceCodeDialog .sourceCodeDialogOverlay{
	margin: 200px auto;
	width: 720px;	
	padding: 20px;
	background: #fff;
	border-radius: 10px;
}

#editorView h4, #sourceCodeDialog h4{
	float:left;
}

#editorView .btnGroup , #sourceCodeDialog .btnGroup{
	margin: 0 20px;
	float:right;
}