

#edit{
	background: #fff;	
	margin: 80px auto;	
}



#editForm{
	margin: 30px 0px;
}

#editForm .add-on{
	padding: 4px 20px;
}

#lyric , #sourceCode , #preview{	
	width: 98%;
	min-height: 400px;
}



