
body{
	font-family: '微軟正黑體', Arial,Helvetica,sans-serif;
}

.navbar-inverse{
	border-bottom: 1px solid #AAA;	
}

.navbar .brand{
	margin: 7px 5px 0;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar .btn{
	margin-top: 10px;
}