
#bodyWrap{
	width: 960px;
	margin: 0px auto;
	padding: 20px;
}

#songList{
	margin: 20px auto;
}

.searchWrap{	
	display: inline-block;
	float:right;
}

#newLyricButton , #FBloginButton{	
	margin-right: 30px;	
}

#searchInput , #searchType{
	margin-top: 10px;
}

#searchButton{
	margin-top: 2px;
}

#songList .page-header{
	margin-top: 100px;
	text-align: center;	
}

#songList{
	margin: 5px 0px;
	padding: 0;	
}


#songList .songList-ul{
	margin: 0;
	list-style: none;
}


#songList .row a:hover{
	text-decoration: none;
}

#songList .row .span12{
	padding: 10px 0;		
	margin: 10px 0;
}

#songList .mainTitle{
	margin: 10px 20px;
	padding: 5px 0px;
	border-bottom: 1px solid #ccc;
}
#songList .subTitle{
	margin: 10px 20px;
	padding: 5px 0px;
}

#songList .label{
	float:left;
	margin: 5px 10px 0px 0px;
	padding: 5px 10px;
	letter-spacing: 1px;
	text-align: right;
}

#songList .label + div{	
	height: 30px;	
	line-height: 30px;	
}

#songList .songName a{	
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
	color: #666;	
	padding: 2px 0;
}
#songList .songName a:hover{
	color: #ddd;	
}

#songList .author:before{
	content: '作者';
}
#songList .editor:before{
	content: '編輯者';
}

#songList .createTime{
	color: #aaa;
	text-align: right;
}

#songList .summary{
	color: #aaa;	
	overflow: hidden;
}


.editButton{	
	margin: 0px;
	float:right;
}
