

.songFormat{
	padding: 10px 0;
}

.songFormat .line{
	margin-top: 50px;
	font-size: 16px;
	letter-spacing: 1px;
	min-height: 20px;
}

.songFormat .line .bar{
	position: relative;	
	min-width: 40px;
}

.songFormat .line .chord{
	position: absolute;
	top: -24px;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.songFormat .line .chordDuration{
	margin: 0 5px;
	font-size: 12px;
}
