

.songFormat{
	padding: 10px 0;
	font-family: Courier , 細明體;
}

.songFormat .line{
	margin-top: 30px;
	font-size: 18px;
	letter-spacing: 1px;
	min-height: 20px;
}

.songFormat .line .bar{
	position: relative;	
	min-width: 40px;
}

.songFormat .line .chord{
	position: absolute;
	top: -20px;
	font-size: 14px;
	font-weight: bold;
	min-width: 80px;
	color: #333;
}

.songFormat .line .chordDuration{
	margin: 0 5px;
	font-size: 12px;
}
